body {
    background-image: url(/pics/bg2.webp);
    background-size: cover;
}
.container {
    position: relative;
}

.menu-item {
    float: left;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}
.menu-item a {
    color: rgb(229, 124, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-item a:visited {
    color: rgba(229, 124, 0);
}
.menu-item a:hover {
    color: rgb(239, 179, 203);
}

.fengxing-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.fengxing-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fengxing-float-left {
    float: left;
}
.fengxing-clear::after {
    content: '';
    display: block;
    clear: both;
}
