body {
    font-size: 16px;
    background: rgb(249, 250, 245);
    color: rgb(34, 59, 80);
}
.blog-container {
    width: 100%;
}
.fengxing-blog {
    width: 70%;
    min-width: 320px;
    margin: 10px auto 50px;
}
.fengxing-blog a {
    position: relative;
    color: rgba(229, 124, 0, 0.9);
    text-decoration: none;
}
.fengxing-blog a:hover {
    position: relative;
    color: rgba(239, 179, 203, 0.9);
}
.fengxing-blog a:visited {
    position: relative;
    color: rgba(229, 124, 0, 0.9);
}

.blog-author {
    font-size: 0.7em;
}
.CodeMirror {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 436px) {
    .fengxing-blog {
        width: 100%;
        margin: 10px 0 50px;
    }
}
